.redirect {
  font-family: 'regular';
  text-align: center;
  margin-top: 30px;
}

.redirect a {
  text-decoration: none;
  color: #000;
}

.redirect a:hover {
  color: #ccc;
}

.card {
  background-image: linear-gradient(to right, rgb(242, 238, 238), #555);
  display: flex;
  align-items: center;
  padding: 20px;
  width: 400px;
  border: none;
  cursor: pointer;
}

.card img {
  width: 32px;
}

.card span {
  margin-left: auto;
  color: white;
  font-family: 'bold';
  font-size: 18px;
}