body {
  background: rgb(254,253,254);
  background: radial-gradient(circle, rgba(254,253,254,1) 0%, #728C58);
}

@font-face {
  font-family: 'bold';
  src: url(./assets/fonts/Urbanist-Bold.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(./assets/fonts/Urbanist-Regular.ttf);
}

